libimpRTLLibImport.a
librtllib_dll.a
rtllib.dll
rtllib.o
RTLLib.pas.bak
rtllib_dll.def.bak
RTLLibImport.o
RTLLibImport.pas.bak
RTLLibImport.ppu
RTLUnit.o
RTLUnit.pas.bak
RTLUnit.ppu
test.exe
test.o
test.pas.bak
mfcFPC/mfcFPC/x64/Release/mfcFPC.iobj
mfcFPC/mfcFPC/x64/Release/mfcFPC.ipdb
mfcFPC/mfcFPC/x64/Release/mfcFPC.log
mfcFPC/mfcFPC/x64/Release/mfcFPC.obj
mfcFPC/mfcFPC/x64/Release/mfcFPC.pch
mfcFPC/mfcFPC/x64/Release/mfcFPC.res
/mfcFPC/mfcFPC/x64/Release/mfcFPC.tlog
*.obj
*.pdb
/mfcFPC/.vs
*.bak
*.ppu
*.o
mfcFPC/x64/Release/mfcFPC.dll
mfcFPC/x64/Release/mfcFPC.exp
mfcFPC/x64/Release/mfcFPC.lib
*.a
mfcFPC.dll
/doc/dox
*.dll
mfcFPC/mfcFPC/x64/Release/mfcFPC.vcxproj.FileListAbsolute.txt
mfcFPC/mfcFPC/x64/Release/mfcFPC.vcxproj.Up2Date
mfcFPC/mfcFPC/x64/Release/mfcFPC.vcxproj.FileListAbsolute.txt
doc/doc/mfcFPC.cpp
doc/doc/mfcFPC.h
doc/doc/RTL.cpp
doc/doc/fpcDLL.h
doc/devdoc.chw
doc/devdoc.chm
doc/packed.zip
doc/warnings.log
/build
*.exe
doc/doc/1
doc/MFC_TCP_Client_IP.zip
*.bak
LICENSE.bak
/mfcFPC/xml
t.bat
